:root {
  /* CSS HEX */
  --dark: #3a3335ff;
  --highlight-1: #eb5e55ff;
  --highlight-2: #d81e5bff;
  --main-1: #fdf0d5ff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--dark);
}

main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-around;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 25vmin);
}

#board div {
  /* aspec ratio */
  display: grid;
  aspect-ratio: 1;

  /* gutters */
  --gap: 5px;
  margin: var(--gap);
  border-radius: calc(2*var(--gap));

  /* cell style */
  background-color: var(--main-1);
  /* text style */
  font-size: 3rem;
  color: var(--dark);
  justify-items: center;
  align-content: center;
  text-transform: uppercase;

}

#board div:hover{
  background-color: var(--highlight-1);
}

#info {
  background-color: var(--main-1);
  color: var(--dark);
  text-align: center;
  padding: 0.5em 0;
}
